<h1>All Posts</h1>
<% @posts.each do |p| %>
    <p><%= p.title %></p>
    <p><%= p.body%></p>
    <h3>
        <% if user_signed_in? %>
        Username: 
        <%= User.find(p.user_id).email %>
        <% end %>
    </h3>
<% end %>